/****Base Styles****/

body{
  font-family:'Red Rose', sans-serif;
  color: #4d4d4d;
}

#portfolio {
  height: 800px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
  width:600px;
  float: left;
}

.third-width{
  width: 400px;
  float: left;
}

/*About Me*/
#about .fullwidth {
margin: auto;
}

/*****Portfolio*****/

#portfolio .full-width {
    padding: 80px 0;
    background: #ffffb3;
    text-align: left;
    height: 350px;
}

#portfolio h2, #codepen h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
  padding-left: 50px;
}

#portfolio p, #codepen p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/*****Codepen.io*****/

#codepen .full-width {
  padding: 80px 0;
  background: #ffffb3;
  text-align: left;
  height: 350px;
}

#codepen a{
  text-decoration: none;
  color: black;
}

/*****header*****/

header {
    height: 400px;
    background: #adad85;
    background-size: cover;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #ffffcc;
    padding: 65px 0 65px 25px;
}

nav {
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #e6e600;
    padding-left: 80px;
}

/*****images*****/
.smaller-image {
  width: 550px;

}
